[Unit]
Description=Dropden Backend
After=network.target
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
User=root
Restart=always
RestartSec=5s
LimitNOFILE=524288

Environment=DATABASE_URL="file:/var/www/dropden_data/pingvin-share.db?connection_limit=1"
Environment=DATA_DIRECTORY="/var/www/dropden_data"

WorkingDirectory=/var/www/dropden_source/backend
ExecStart=/usr/bin/npm -- run prod

[Install]
WantedBy=multi-user.target
